Flask==3.0.0
opencv-python==4.8.0.76
deepface==0.0.99
sqlcipher3==0.6.2
cryptography==41.0.0
numpy==1.26.4
bcrypt==4.0.0
requests==2.31.0
python-dotenv==1.0.1
APScheduler==3.10.4
opencv-python==4.8.0.76